section.sec-article-list {
    position: relative;
    display: block;
    margin: 60px 0px;
    padding: 0px;
    overflow: hidden;
    transition: all 0.3s ease;

    .pg-width {
        .all-articles {
            display: grid;
            gap: 40px;
            grid-template-columns: 1fr 1fr;
            margin: 0px;
            padding: 0px 150px;
            transition: all 0.3s ease;

            article {
                margin: 0px;
                padding: 0px;
                overflow: hidden;

                img {
                    display: block;
                    margin: 0px 0px 15px 0px;
                    padding: 0px;
                    overflow: hidden;
                    width: 100% !important;
                    height: unset !important;
                    aspect-ratio: 16 / 9 !important;
                    object-fit: cover;
                    border-radius: 10px;
                    border: 1px solid var(--clr-rd-gray-lighter);
                }

                a.title {
                    margin: 0px;
                    padding: 0px;

                    font-size: 16px;
                    line-height: 19px;
                    font-weight: 600;
                    color: var(--clr-rd-blue);

                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 2;
                    overflow: hidden;
                    text-overflow: ellipsis;

                    &:hover {
                        color: var(--clr-rd-blue-dark);
                    }
                }

                p {
                    display: -webkit-box;
                    margin: 8px 0px 0px 0px;
                    padding: 0px;
                    font-size: 15px;
                    line-height: 19px;
                    font-weight: 500;
                    color: var(--clr-rd-black);

                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 4;

                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                p.date {
                    margin: 3px 0px;
                    font-size: 14px;
                    line-height: 16px;
                    color: var(--clr-rd-gray-dark);
                    -webkit-line-clamp: 1;
                }
            }
        }

        .btn-row {
            padding: 0px 150px;
            margin-top: 30px;
            margin-bottom: 30px;
        }
    }
}

@media screen and (max-width: 1299px) {
    section.sec-article-list {
        margin: 50px 0px;

        .pg-width {
            .all-articles {
                gap: 30px;
            }
        }
    }
}

@media screen and (max-width: 1199px) {
    section.sec-article-list {
        margin: 40px 0px;

        .pg-width {
            .all-articles {
                gap: 30px;
                padding: 0px 100px;
            }

            .btn-row {
                padding: 0px 100px;
                margin-top: 25px;
                margin-bottom: 25px;
            }
        }
    }
}

@media screen and (max-width: 991px) {
    section.sec-article-list {
        margin: 40px 0px;

        .pg-width {
            .all-articles {
                gap: 20px;
                padding: 0px 60px;
            }

            .btn-row {
                padding: 0px 60px;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    section.sec-article-list {
        margin: 40px 0px;

        .pg-width {
            .all-articles {
                gap: 20px;
                padding: 0px 40px;
                grid-template-columns: 1fr;

                article {
                    max-width: 400px;
                    margin: 0px auto;
                }
            }

            .btn-row {
                padding: 0px 40px;
                justify-content: center;
            }
        }
    }
}

@media screen and (max-width: 467px) {
    section.sec-article-list {
        margin: 30px 0px;

        .pg-width {
            .all-articles {
                padding: 0px 20px;
                gap: 30px;
            }

            .btn-row {
                padding: 0px 20px;
            }
        }
    }
}