:root {
    --clr-rd-white: #ffffff;
    --clr-rd-off-white: #FAFAFF;

    --clr-rd-black: #000000;
    --clr-rd-offblack: #181a20;
    --clr-rd-black-overlay: rgba(0, 0, 0, 0.7);

    --clr-rd-blackish: #313233;

    --clr-rd-gray-darker: #4E4E4E;
    --clr-rd-gray-dark: #6F6F6F;
    --clr-rd-gray: #959595;
    --clr-rd-gray-light: #D0D0D0;
    --clr-rd-gray-lighter: #DBDBDB;
    --clr-rd-gray-lightest: #F7F7F7;
    --clr-rd-gray-pgbg: #EAEAEA;

    --clr-rd-gray-footer: #bebdbd;

    --clr-rd-green: #9BB260;
    --clr-rd-red: #c95353;

    --clr-rd-blue-light: #3e8de2;
    --clr-rd-blue: #3171B3;
    --clr-rd-blue-dark: #165494;
}